<!DOCTYPE html>
<html>
<head>
	<title>your day</title>
</head>
<body>
	<form method="POST" action="">{% csrf_token %}
	

{{form.tasktype}}
{{form.description}}



<input type="submit" value="SUBMIT" >

</form>
<ol>
{% for i in alltasks %}
{% if i.completed %}
<li><div class="itemcomp"><b>{{i.tasktype}}</b> {{i.description}}   </div>
{%else%}
<li><div class="itemncomp"><b>{{i.tasktype}}</b> {{i.description}}</div>
</li> 
{%endif%}
<a href = {% url "task" i.id %}>Update</a>
<a href = {% url "del"  i.id %}>delete</a>

<br>

{%endfor%}
</ol>
<style type="">
	.itemcomp
	{	
		color:green;

	}
	.itemncomp
	{	
		color:red;
	}
	div{
		background-color: grey;
		border:3px solid black;
		border-radius:7px;
		margin:5px;
		padding:4px;
	}
	a
	{
		background:white;
		border:2px solid black ;
		border-radius: 3px;
		color:blue;
		text-decoration: none;
		padding:3px;
		margin:3px;

	}
</style>
</body>
</html>